* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}

.nav-menu{
    margin: 40px;
    padding: 0;
    list-style: none;
    display: flex;
    gap:40px;
    justify-content: flex-end;
}

.nav-menu li a{
    color:gray;
    text-decoration:none;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

.badge:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.nav-menu li button, .donate {
    padding:10px;
    background-color: teal;
    border-radius: 10px;
    color:white;
}

.nav-menu li button:hover, .donate:hover {
    background-color: #006580;
}

.title-intro{
    text-align: center;
    font-size: 24px;
}

.title-intro .curriculum{
    margin-top: 50px;
    margin-bottom: 7px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    border: 0.5 solid gray;
}

.title-intro span {
    color: goldenrod;
}

.how-it-works{
    font-size:20px;
    margin-top:10px;
}

.how-it-works h2, .how-it-works p{
    margin:30px;
}

.mini h5, .mini p{
    margin:30px;
}

.container{
    margin: 50px;
    text-align: center;
}

.mini-images {
    display: flex;
    margin: auto;
    justify-content: center;
    gap:50px;
}

.section h5{
    text-align: center;
    font-size:24px;
    color: black;
    margin-bottom: 20px;
}

.container2{
    display:grid;
    grid-template-columns: auto auto auto;
    width:700px;
    margin: 0 auto;
}

.badge {
    width:200px;
    height:270px;
    margin: 10px 10px;
    text-align: center;
    background-color: white;
    border:1px solid white;
    padding: 20px;
    color:gray;
    text-decoration: none;
}

.badge h5{
    color: gray;
}

.container2 img{
    width:150px;
    height:150px;
}  

.section{
    background-color: lightgray;
    padding:50px;
    
}

.section .button{
    text-align: center;
    margin: 20px 20px;
}

.bttn{
    padding: 10px 20px;
    border: 0.5px solid grey;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin: 50px;
    color: grey;
    font-size: 20px;
}

.section2 h5{
    text-align: center;
    font-size:30px;
    margin: 30px;
    color:gray;
}

.stories img{
    width:50px;
    height:50px;
}

.stories{
    display:flex;
    flex-wrap: wrap;
    font-size: 20px;
}

.section2{
    margin:0 100px;

}

.column1, .column2{
    width:40%;
    margin:20px auto;
    text-align: left;
}

.column1 img, .column2 img{
    float:left;
    border-radius: 50px;
}

.section3 {
    text-align: center;
    font-size: 20px;
    color:gray;
}

.flex-button{
    display: flex;
    justify-content: center;
}

#learn-button{
    padding: 10px;
    border-radius: 10px;
}

table {
    border-spacing: 10px;
}

.styled-table{
    margin: 20px;
    width:90%;
}
